@font-face {
    font-family: "iconfont"; /* Project id 4711483 */
    src: url('//at.alicdn.com/t/c/font_4711483_9eblya240d.woff2?t=1728967735110') format('woff2'),
         url('//at.alicdn.com/t/c/font_4711483_9eblya240d.woff?t=1728967735110') format('woff'),
         url('//at.alicdn.com/t/c/font_4711483_9eblya240d.ttf?t=1728967735110') format('truetype');
  }
  
  .iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-banbenxinxifuxy20160326:before {
    content: "\e636";
  }
  
  .icon-zuozhe:before {
    content: "\e62b";
  }
  
  .icon-gongzhonghao:before {
    content: "\e623";
  }
  
  .icon-ltr:before {
    content: "\e61b";
  }
  
  .icon-rtl:before {
    content: "\e628";
  }
  