.customButton{
    padding: 0 4px !important;
    border-radius: 1px;
}
.customButton:hover{
    background-color: #f0f0f0;
}
.customButton:active{
    background-color: #e0e0e0;
}
.customButton:focus{
    outline: none;
}
.customButton:disabled{
    background-color: #f0f0f0;
    color: #ccc;
}
.customButton:disabled:hover{
    background-color: #f0f0f0;
}